{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>

<div align="center">
    <h2>Сброс пароля</h2>
    <div class="card col-10">
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                Введите Ваш email:<br>
                {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-primary btn-block" value="Reset password" />
            </form>
        </div>
    </div>
</div>
{% endblock %}