{% extends 'blog/base.html' %}

{% block content %}

<div align="center">
    <div class="card col-10">
        <div class="card-body">
            {% if validlink %}

            <p>Введите новый пароль</p>
            <form action="" method="post">
                {% csrf_token %}
                Новый пароль:<br>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
                <br>
                Повторите пароль:<br>
                {{ form.new_password2.errors }}
                {{ form.new_password2 }}
                <br><br>
                <input class="btn btn-success btn-block" type="submit" value="Change my password" /></td>

            </form>

            {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                password reset.
            </p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}